<<<<<<< HEAD
body {
  /* The path is now simpler because the files are in the same folder */
  background-image: url("background opera epiclese..webp");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; 
  color: #e0e0e0;
}
=======
/* Moved to src/global.css */
>>>>>>> ff6ad8ba64ecdfc7321d5982b49d420195c10bd4
